# CODEOWNERS for ADF CI/CD project

# For production branch
# Note: This branch represents the stable production environment.
uat/      @janviAjudiya21
prod/      @janviAjudiya21
main/      @janviAjudiya21
